@model PagedList.IPagedList<WebApplication1.Models.Rental>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Rentals", FormMethod.Get))
{

<p>
    Find by brand: @Html.TextBox("searchWord", ViewBag.CurrentFilter as string)
    <input type="submit" value="Search" />

</p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("CarId", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("CustomerId", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Brand", "Index", new { sortOrder = ViewBag.BrandSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Model", "Index", new { sortOrder = ViewBag.ModelSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("DailyPrice", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("IsAutomatic", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("IsAvaiable", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("RentedFromThisDay", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("RentedToThisDay", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAutomatic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentedFromThisDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentedToThisDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
