
@{
    ViewBag.Title = "Index";
}


@model PagedList.IPagedList<WebApplication1.Models.Cars>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Cars";
}

<h2> Cars</h2>

<h2>Index</h2>




<p>
    @Html.ActionLink("Create New", "Create")

</p>

@using (Html.BeginForm("Index", "Cars", FormMethod.Get))
{

    <p>
        Find by brand: @Html.TextBox("searchWord", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />

    </p>

}



<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Brand", "Index", new { sortOrder = ViewBag.BrandSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Model", "Index", new { sortOrder = ViewBag.ModelSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("EngineType", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("HorsePower", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("IsAutomatic", "Index", new {  currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("YearOfManufacture", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Position", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorsePower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAutomatic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfManufacture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortableId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
