@model PagedList.IPagedList<WebApplication1.Models.Customers>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
   @using (Html.BeginForm("Index", "Customers", FormMethod.Get))
   {

<p>
    Find by name: @Html.TextBox("searchWord", ViewBag.CurrentFilter as string)
    <input type="submit" value="Search" />

</p>
   }

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Fname", "Index", new { sortOrder = ViewBag.FnameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Lname", "Index", new { sortOrder = ViewBag.LnameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Age", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("City", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("PostCode", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("PhoneNumber", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
